<h1>Here is a list of all your recipes by name:</h1>

<ul>
  
  <% @recipes.each do |recipe| %>
  <li><%= recipe.name %>  |  <a href="/recipes/<%= recipe.id %>/edit">Edit</a>  |  <a href="/recipes/<%= recipe.id %>" data-method="delete" rel="nofollow">Delete</a></li>
  <% end %>
  
</ul>

<p><a href='recipes/new'>Enter new recipe</a></p>