<h1> Please enter the new recipe information:</h1>

<form action="/recipes" method="post">
  <%= render('form') %>
  <button>Save Recipe</button>
</form>

<p><a href="/recipes/new">Add another recipe</a></p>
<p><a href="/recipes">Recipe Catalog</a></p>
