<h1>Welcome to your Recipe Catalog</h1>
<h2>Table of Contents</h2>

<ul>
  <% @tags.each do |tag| %>
    <li><a href="/tags/<%= tag.id %>"><%= tag.name %>  |  <a href="/tags/<%= tag.id %>/edit">Edit</a>  |  <a href="/tags/<%= tag.id %>" data-method="delete" rel="nofollow">Delete</a></li>
  <% end %>
</ul>

<p><a href="tags/new">Enter a new tag</a></p>

<p><a href="/recipes">Recipe Catalog</a></p>